// custom bootstrap stylings
$primary: #234257;
$secondary: #89b2ae;
$body-bg: #234257;
$body-color: white;
$headings-font-family: 'Alegreya Sans SC', sans-serif;
$font-family-base: 'Lato', sans-serif;
$nav-tabs-link-active-bg: $secondary;

.btn:focus {
  color: $secondary;
}


// custom calendar stylings
$out-of-range-bg-color: #e6e7e8;
$today-highlight-bg: $secondary;
$event-bg: $primary;
$event-border: darken($primary, 10%);
$event-outline: rgb(255, 255, 255, 0);
$current-time-color: $primary;

.bi:hover {
  color: #72b7a3;
}

@import 'react-big-calendar/lib/sass/styles';
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
